*target*
*.jar
*.war
*.ear
*.class
/target/**

# eclipse specific git ignore
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
target/**
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

myWallet.db

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
